In [162]:
import datetime
import numpy as np
import graphlab as gl
from copy import deepcopy

import seaborn as sns
import matplotlib.pyplot as plt

path = 'C:/Ashish/Subjects/DA/Project/Data/train.csv'

ImportError: No module named seaborn

In [26]:
dataFull = gl.SFrame.read_csv(path, verbose=False)

In [27]:
dataBackup = dataFull.sample(.01, seed=5)

In [ ]:
dataFull = None #Clear RAM

In [28]:
data = deepcopy(dataBackup)

In [163]:
data.head(1)

Columns:
	id	str
	click	int
	hour	str
	C1	str
	banner_pos	int
	site_id	str
	site_domain	str
	site_category	str
	app_id	str
	app_domain	str
	app_category	str
	device_id	str
	device_ip	str
	device_model	str
	device_type	str
	device_conn_type	int
	C14	int
	C15	int
	C16	int
	C17	int
	C18	int
	C19	int
	C20	int
	C21	int
	isWeekDay	int
	area	int

Rows: 1

Data:
+----------------------+-------+------+------+------------+----------+-------------+
|          id          | click | hour |  C1  | banner_pos | site_id  | site_domain |
+----------------------+-------+------+------+------------+----------+-------------+
| 10006789981076459409 |   0   |  00  | 1005 |     0      | 030440fe |   08ba7db9  |
+----------------------+-------+------+------+------------+----------+-------------+
+---------------+----------+------------+--------------+-----------+-----------+
| site_category |  app_id  | app_domain | app_category | device_id | device_ip |
+---------------+----------+------------+--------------+-----------+-----------+
|    76b2941d   | ecad2386 |  7801e8d9  |   07d7df22   |  a99f214a |  692824c7 |
+---------------+----------+------------+--------------+-----------+-----------+
+--------------+-------------+------------------+-------+-----+-----+------+-----+
| device_model | device_type | device_conn_type |  C14  | C15 | C16 | C17  | ... |
+--------------+-------------+------------------+-------+-----+-----+------+-----+
|   293291c1   |      1      |        0         | 20596 | 320 |  50 | 2161 | ... |
+--------------+-------------+------------------+-------+-----+-----+------+-----+
[1 rows x 26 columns]

In [30]:
data.show()

Canvas is updated and available in a tab in the default browser.

In [31]:
data['device_type'] = data['device_type'].astype(str)
data['C1'] = data['C1'].astype(str)
data['hour'] = data['hour'].astype(str)

In [32]:
data['isWeekDay'] = data['hour']

In [33]:
data.head(2)

Columns:
	id	str
	click	int
	hour	str
	C1	str
	banner_pos	int
	site_id	str
	site_domain	str
	site_category	str
	app_id	str
	app_domain	str
	app_category	str
	device_id	str
	device_ip	str
	device_model	str
	device_type	str
	device_conn_type	int
	C14	int
	C15	int
	C16	int
	C17	int
	C18	int
	C19	int
	C20	int
	C21	int
	isWeekDay	str

Rows: 2

Data:
+----------------------+-------+----------+------+------------+----------+
|          id          | click |   hour   |  C1  | banner_pos | site_id  |
+----------------------+-------+----------+------+------------+----------+
| 10006789981076459409 |   0   | 14102100 | 1005 |     0      | 030440fe |
| 10007163879183388340 |   0   | 14102100 | 1005 |     0      | 030440fe |
+----------------------+-------+----------+------+------------+----------+
+-------------+---------------+----------+------------+--------------+-----------+
| site_domain | site_category |  app_id  | app_domain | app_category | device_id |
+-------------+---------------+----------+------------+--------------+-----------+
|   08ba7db9  |    76b2941d   | ecad2386 |  7801e8d9  |   07d7df22   |  a99f214a |
|   08ba7db9  |    76b2941d   | ecad2386 |  7801e8d9  |   07d7df22   |  a99f214a |
+-------------+---------------+----------+------------+--------------+-----------+
+-----------+--------------+-------------+------------------+-------+-----+-----+
| device_ip | device_model | device_type | device_conn_type |  C14  | C15 | C16 |
+-----------+--------------+-------------+------------------+-------+-----+-----+
|  692824c7 |   293291c1   |      1      |        0         | 20596 | 320 |  50 |
|  5035aded |   3db9fde9   |      1      |        0         | 18993 | 320 |  50 |
+-----------+--------------+-------------+------------------+-------+-----+-----+
+------+-----+
| C17  | ... |
+------+-----+
| 2161 | ... |
| 2161 | ... |
+------+-----+
[2 rows x 25 columns]

In [34]:
def isItAWeekDay(timeStamp):
    timeStamp = str(timeStamp)
    year  = int(timeStamp[0:2])
    month = int(timeStamp[2:4])
    day   = int(timeStamp[4:6])
    off = [0, 31, 59, 90, 120, 151, 181, 212, 243, 273, 304, 334]
    a = 1
    if month > 2: a = 0
    x = year - 1700 - a
    dow  = 5
    dow += (x + a) * 365
    dow += x / 4 - x / 100 + (x + 100) / 400     
    dow += off[month - 1] + (day - 1)               
    dow %= 7
    if dow == 0 or dow == 6: return 0; #Sunday or Saturday
    return 1;

In [35]:
data['isWeekDay'] = data['isWeekDay'].apply(isItAWeekDay)

14102100

In [67]:
def keepHour(timeStamp):
    timeStamp = str(timeStamp)
    return timeStamp[-2:];

In [52]:
data['hour'] = data['hour'].apply(keepHour)

In [53]:
data['area'] = data['C15']*data['C16'];

In [71]:
data['click'].mean()

0.17027748264189124

In [72]:
data.groupby('C1', {'CTR':gl.aggregate.MEAN('click')})

Columns:
	C1	str
	CTR	float

Rows: 7

Data:
+------+-----------------+
|  C1  |       CTR       |
+------+-----------------+
| 1001 |  0.054347826087 |
| 1007 | 0.0477707006369 |
| 1008 |  0.181818181818 |
| 1010 | 0.0987922968121 |
| 1005 |  0.169862328314 |
| 1002 |  0.209507915746 |
| 1012 |  0.161319073084 |
+------+-----------------+
[7 rows x 2 columns]

In [133]:
device_type_data = data.groupby('device_type', {'CTR':gl.aggregate.MEAN('click')})

In [137]:
N = device_type_data.shape[0]
CTR = device_type_data['CTR']
nCTR = [1 - x for x in CTR]

ind = np.arange(N)    # the x locations for the groups
#width = 0.35       # the width of the bars: can also be len(x) sequence

p1 = plt.bar(ind, CTR, width)
p2 = plt.bar(ind, nCTR, width,
             bottom=CTR, color='red')

plt.ylabel('Click Through Rate - Normalized')
plt.title('Scores by group and gender.')
plt.xticks(ind, ('G1', 'G2', 'G3', 'G4', 'G5'))
#plt.yticks(np.arange(0, 81, 10))
plt.legend((p1[0], p2[0]), ('Men', 'Women'),loc="upper left", bbox_to_anchor=(1,1))

In [164]:
N = 5
menMeans = (20, 35, 30, 35, 27)
womenMeans = [100 - x for x in menMeans]
ind = np.arange(N)    # the x locations for the groups
width = 0.35       # the width of the bars: can also be len(x) sequence

p1 = plt.bar(ind, menMeans, width)
p2 = plt.bar(ind, womenMeans, width,
             bottom=menMeans, color='red')

plt.ylabel('Scores')
plt.title('Scores by group and gender')
plt.xticks(ind, ('G1', 'G2', 'G3', 'G4', 'G5'))
#plt.yticks(np.arange(0, 81, 10))
plt.legend((p1[0], p2[0]), ('Men', 'Women'),loc="upper left", bbox_to_anchor=(1,1))

plt.show()

In [136]:
data.show()

Canvas is updated and available in a tab in the default browser.

In [159]:
data.groupby('hour', {'CTR':gl.aggregate.SUM('click')})

Columns:
	hour	str
	CTR	int

Rows: 24

Data:
+------+------+
| hour | CTR  |
+------+------+
|  19  | 2158 |
|  04  | 2992 |
|  12  | 3778 |
|  09  | 3619 |
|  17  | 3554 |
|  18  | 3013 |
|  23  | 1448 |
|  13  | 4206 |
|  00  | 1447 |
|  16  | 3691 |
+------+------+
[24 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [ ]:
data.groupby('hour', {'CTR':gl.aggregate.SUM('click')})

In [158]:
graph.show()